:root {
  --rapidez: #3eaf7c;

  --vp-c-brand-1: var(--rapidez);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}

.np {
  padding-bottom: 0 !important;
}

.Layout.old-version-page {
  --vp-layout-top-height: 42px;
}

@media (max-width: 539px) {
  .Layout.old-version-page {
    --vp-layout-top-height: 64px;
  }
}

@media (max-width: 340px) {
  .Layout.old-version-page {
    --vp-layout-top-height: 84px;
  }
}
